<div class="container">
  <div class="portfolio-container">
    <div
      class="portfolio-item"
      style="background-image: url('/assets/some-guy.jpeg')"
    ></div>
    <div
      class="portfolio-item"
      style="background-image: url('/assets/javascript.png')"
    ></div>
    <div
      class="portfolio-item"
      style="background-image: url('/assets/html.png')"
    ></div>
    <div
      class="portfolio-item"
      style="background-image: url('/assets/icons8-linkedin-30.png')"
    ></div>
    <div
      class="portfolio-item"
      style="background-image: url('/assets/LOGO.svg')"
    ></div>
    <div
      class="portfolio-item"
      style="background-image: url('/assets/icons8-github.svg')"
    ></div>
    <div
      class="portfolio-item"
      style="background-image: url('/assets/close-menu.svg')"
    ></div>
  </div>
</div>
