<div class="container">
  <div class="portfolio-container">
    <div
      id="item-1"
      class="portfolio-item"
      style="background-image: url('/assets/html.png')"
    ></div>
    <div
      id="item-2"
      class="portfolio-item"
      style="background-image: url('/assets/javascript.png')"
    ></div>
    <div
      id="item-3"
      class="portfolio-item"
      style="background-image: url('/assets/html.png')"
    ></div>
    <div
      id="item-4"
      class="portfolio-item"
      style="background-image: url('/assets/javascript.png')"
    ></div>
    <div
      id="item-5"
      class="portfolio-item"
      style="background-image: url('/assets/html.png')"
    ></div>
    <div
      id="item-6"
      class="portfolio-item"
      style="background-image: url('/assets/javascript.png')"
    ></div>
    <div
      id="item-7"
      class="portfolio-item"
      style="background-image: url('/assets/html.png')"
    ></div>
    <div
      id="item-8"
      class="portfolio-item"
      style="background-image: url('/assets/javascript.png')"
    ></div>
  </div>
</div>
