<div class="container">
  <div class="portfolio-container">
    <div id="item-1" class="portfolio-item">
      <div class="tecnologies">
        <img src="assets/portfolio-icons/angular.svg" alt="mongoDB" />
      </div>

      <div class="info">
        <h3>Lo de Vicente</h3>
        <p>Servicios inmoviliarios y eventos</p>
      </div>

      <div class="desplegar">
        <div class="navegar">
          <img src="assets/globe.svg" alt="" srcset="" />
          <div class="navegar-link">
            <p>Navegar al sitio:</p>
            <a href="http://lodevicente.com">http://lodevicente.com</a>
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Frontend:</p>
            <a href="https://github.com/acunaFermin/loDeVicente.com.git"
              >http://github.com/ferminAcuna/loDeVicente.com.git</a
            >
          </div>
        </div>
      </div>
    </div>

    <div id="item-2" class="portfolio-item">
      <div class="tecnologies">
        <img src="assets/portfolio-icons/angular.svg" alt="mongoDB" />
        <img src="assets/portfolio-icons/node.svg" alt="angular" />
      </div>

      <div class="info">
        <h3>Mi Portfolio</h3>
        <p>Ya estas viendo mi portfolio, pero podes ir al codigo fuente</p>
      </div>

      <div class="desplegar">
        <div class="navegar">
          <img src="assets/globe.svg" alt="" srcset="" />
          <div class="navegar-link">
            <p>Navegar al sitio:</p>
            <a href="http://acuna-fermin.dev">http://acuna-fermin.dev</a>
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Frontend:</p>
            <a href="https://github.com/acunaFermin/portfolio.git"
              >http://github.com/ferminAcuna/portfolio.git</a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="item-3" class="portfolio-item">
      <div class="tecnologies">
        <img src="assets/portfolio-icons/node.svg" alt="node" />
        <img src="assets/portfolio-icons/angular.svg" alt="angular" />
        <img src="assets/portfolio-icons/socketio.svg" alt="socketio" />
      </div>

      <div class="info">
        <h3>Mapas App</h3>
        <p>Seguimiento de elementos en un mapa realtime</p>
      </div>

      <div class="desplegar">
        <div class="navegar">
          <img src="assets/globe.svg" alt="" srcset="" />
          <div class="navegar-link">
            <p>Navegar al sitio:</p>
            <a href="http://acuna-fermin.dev/mapas">acuna-fermin.dev/mapas</a>
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Frontend:</p>
            <a href="https://github.com/acunaFermin/app-mapbox.git"
              >https://github.com/acunaFermin/app-mapbox.git</a
            >
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Backend:</p>
            <a href="https://github.com/acunaFermin/socket-server.git"
              >http://github.com/ferminAcuna/socket-server.git</a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="item-4" class="portfolio-item">
      <div class="tecnologies">
        <img src="assets/portfolio-icons/node.svg" alt="node" />
        <img src="assets/portfolio-icons/angular.svg" alt="angular" />
        <img src="assets/portfolio-icons/socketio.svg" alt="socketio" />
      </div>

      <div class="info">
        <h3>Tickets App</h3>
        <p>Generacion y gestion de turnos con displays realtime</p>
      </div>

      <div class="desplegar">
        <div class="navegar">
          <img src="assets/globe.svg" alt="" srcset="" />
          <div class="navegar-link">
            <p>Navegar al sitio:</p>
            <a href="http://acuna-fermin.dev/tickets"
              >http://acuna-fermin.dev/tickets</a
            >
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Frontend:</p>
            <a href="https://github.com/acunaFermin/ticket-app.git"
              >http://github.com/ferminAcuna/ticket-app.git</a
            >
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Backend:</p>
            <a href="https://github.com/acunaFermin/ticket-server.git"
              >http://github.com/ferminAcuna/ticket-server.git</a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="item-5" class="portfolio-item">
      <div class="tecnologies">
        <img src="assets/portfolio-icons/angular.svg" alt="mongoDB" />
        <img src="assets/portfolio-icons/bootstrap.svg" alt="mongoDB" />
      </div>

      <div class="info">
        <h3>Man Power App</h3>
        <p>Dibuja una "curva S" de hs hombre y descarga en excel</p>
      </div>

      <div class="desplegar">
        <div class="navegar">
          <img src="assets/globe.svg" alt="" srcset="" />
          <div class="navegar-link">
            <p>Navegar al sitio:</p>
            <a href="http://acuna-fermin.dev/manpower"
              >http://acuna-fermin.dev/manpower</a
            >
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Frontend:</p>
            <a href="https://github.com/acunaFermin/NGmanPowerApp.git"
              >http://github.com/ferminAcuna/NGmanPowerApp.git</a
            >
          </div>
        </div>
      </div>
    </div>
    <div id="item-6" class="portfolio-item">
      <div class="tecnologies">
        <img src="assets/portfolio-icons/node.svg" alt="angular" />
        <img src="assets/portfolio-icons/angular.svg" alt="mongoDB" />
        <img src="assets/portfolio-icons/socketio.svg" alt="node" />
      </div>

      <div class="info">
        <h3>Chats App</h3>
        <p>Chats en tiempo real desde cualquier parte del mundo</p>
      </div>

      <div class="desplegar">
        <div class="navegar">
          <img src="assets/globe.svg" alt="" srcset="" />
          <div class="navegar-link">
            <p>Navegar al sitio:</p>
            <a href="http://acuna-fermin.dev/chats">acuna-fermin.dev/chats</a>
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />
          <div class="git-link">
            <p>Frontend:</p>
            <a href="https://github.com/acunaFermin/chatApp-SocketIO.git"
              >http://github.com/ferminAcuna/chatApp-SocketIO.git</a
            >
          </div>
        </div>
        <div class="github">
          <img src="assets/icons8-github.svg" alt="" srcset="" />

          <div class="git-link">
            <p>Backend:</p>
            <a href="https://github.com/acunaFermin/socket-server.git"
              >http://github.com/ferminAcuna/socket-server.git</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
