.container-cuerpo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 245px);
  margin-left: 245px;
  background-color: rgba(0, 0, 0, 0.93);
  color: rgba(255, 255, 255, 0.9);
  font-family: "Open Sans", sans-serif;
}

.fix-body {
  position: fixed;
  bottom: 0;
  padding-bottom: 100vh;
}

.page-container {
  padding-left: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  min-height: 100vh;
  justify-content: center;
  z-index: 10;
  transition: all 0.5s 0.5s linear;
}

.fix {
  position: fixed;
  bottom: 0px;
  /* width: 100%; */
  left: 30px;
  overflow: hidden;
}

/********** background image + titulo + descripcion**********/
.background {
  height: 200vh;
  /* width: 100%; */
  transform-origin: 10% 20%;
}

.background-image {
  position: sticky;
  top: 15vh;
  left: 0;
  height: 70vh;
  background-image: url("/assets/background-4.jpg");
  /* background-position: center; */
  background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
  /* transition: filter 0.1s ease-in; */
  filter: brightness(0.8);
}

.black {
  filter: brightness(0.3);
  transition: filter 1s ease-in-out;
}

.titulo,
.descripcion {
  position: absolute;
  top: 0%;
  left: 350px;
  width: calc(100% - 350px);
  height: 100vh;
}

.quienSoy {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: rgba(255, 255, 255, 0.897);
}

.quienSoy h1 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: -20px;
}

.quienSoy p {
  font-family: "Oswald", sans-serif;
  margin-top: 60px;
  font-size: 35px;
  font-weight: 100;
}

.descripcion {
  top: 100vh;
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  justify-content: center;
}
/***************habilidades********************/

.habilities {
  width: 100%;
}

.hab-item {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  line-height: 40px;
}

.hab-item h4 {
  font-family: "Oswald";
  font-weight: 300;
}

.hab-item::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff26;
}

.hab-item::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 5%;
  height: 2px;
  background-color: #08e275;
  box-shadow: 0 0 10px #08e275;
  transition: all 2s ease-in-out;
}
.angular::before {
  width: 95%;
  transition: all 0.5s 0.5s ease-in-out;
}
.css::before {
  width: 90%;
  transition: all 0.5s 0.6s ease-in-out;
}
.node::before {
  width: 85%;

  transition: all 0.5s 0.7s ease-in-out;
}
.sql::before {
  width: 83%;
  transition: all 0.5s 0.8s ease-in-out;
}
.mon::before {
  width: 79%;
  transition: all 0.5s 0.9s ease-in-out;
}

/*** portfolio**/

.portfolio {
  padding-left: 0;
}

.portfolio-title {
  padding-left: 100px;
}

ul {
  margin-top: 20px;
  padding-left: 0;
}

li {
  list-style-type: none;
  font-weight: 300;
  margin-bottom: 10px;
}

h2 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 80px;
  font-weight: 300;
}

p {
  font-weight: 300;
}

.tools {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tool-item {
  display: flex;
  width: 26%;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #6ad3813d;
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  font-weight: 100;
  color: #6ad380;
  cursor: pointer;
  transition: all 1s ease-in;
}

.lighted-item {
  border: 1px solid #6ad381da;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.1s ease-out;
  box-shadow: 0px 5px 15px #08e2756b;
}

.tool-item:hover {
  border: 1px solid #996b00da;
  background-color: #d3ba6a23;
  color: rgba(255, 255, 255, 0.897);

  box-shadow: 0px 5px 15px #614c14d3;
  transition: all 0.1s ease-out;
}

/*************contacto****************/

.contacto-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
}

.emiter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.data {
  display: flex;
  width: 49%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.content {
  display: flex;
  width: 100%;
  height: 20%;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.message {
  height: 40%;
  overflow-y: hidden;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20%;
  border: 1px solid rgba(255, 255, 255, 0.383);
  align-self: end;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  color: #6ad380;
  background-color: rgba(255, 255, 255, 0.1);
}

.contacto-container h5 {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 100;
}

.submit-btn h5 {
  margin: 0;
  padding: 0;
}

.contacto-container input,
textarea {
  width: 100%;
  height: 100%;
  line-height: 60px;
  margin-left: 10px;
  padding: 5px;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.897);
  font-weight: 100;
  word-wrap: break-word;
}

/**** media queries 1024 *****/

@media (max-width: 1350px) {
  .background-image {
    background-position: calc(100% + 150px);
  }
}

/**** media queries 1024 *****/

@media (max-width: 1024px) {
  .container-cuerpo {
    width: 100%;
    margin-left: 0;
  }

  .page-container {
    width: calc(80% - 50px);
    padding-left: 50px;
  }

  .quienSoy h1 {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: -2vw;
  }

  .quienSoy p {
    font-size: 4vw;
    font-weight: 100;
    margin-top: 7vw;
  }

  .titulo,
  .descripcion {
    left: 50px;
    width: calc(100% - 50px);
  }

  .info {
    padding-left: 10px;
  }

  .portfolio {
    width: calc(100%);
    padding-left: 0px;
  }

  .portfolio-title {
    padding-left: 50px;
  }

  .tool-item {
    width: 25%;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 60px;
  }
}

/******** media querys 800 height ***********/

@media (max-height: 800px) {
  .container-cuerpo {
    width: 100%;
    margin-left: 0;
  }
}

/**** media queries 700 *****/

@media (max-width: 700px) {
  .page-container {
    padding-left: 30px;
    width: 80%;
  }

  .titulo,
  .descripcion {
    left: 20px;
    width: calc(100% - 20px);
  }

  .info {
    padding-left: 10px;
    width: 80%;
  }
  .portfolio {
    width: 100%;
    padding-left: 0;
  }

  .portfolio-title {
    padding-left: 30px;
  }
  .tool-item {
    width: calc(33% - 30px);
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
