<app-barra-lateral
  (lateralBtn)="scroll($event)"
  [scrollIndex]="scrollIndex"
></app-barra-lateral>

<div class="container-cuerpo" [ngClass]="{ 'fix-body': mailInput }">
  <div class="background">
    <div
      class="background-image"
      [ngClass]="{ black: scrollIndex === 1 }"
    ></div>

    <!-- titulo -->
    <div id="init" class="titulo" [ngClass]="{ 'show-up': scrollIndex === 0 }">
      <div class="quienSoy">
        <h1>Hola!,</h1>
        <h1>Soy Fermín,</h1>
        <h1>Desarrollador Web</h1>
        <p>Full Stack Web Developer</p>
      </div>
    </div>

    <!-- descripcion -->

    <div
      id="quienSoy"
      class="descripcion"
      [ngClass]="{ 'show-up': scrollIndex === 1 }"
    >
      <div class="info">
        <h2>Sobre mi</h2>
        <p>
          Un ingeniero electromecánico que ha decidido explorar una vida
          dedicada al desarrollo web y de software en general.
        </p>
        <br />
        <p>
          Estoy abierto al desarrollo de aplicaciones y webs, tanto front end
          como back end.
        </p>
        <br />
        <p>
          Mi anhelo es poder desarrollar con personas que tengan una vasta
          experiencia en estos campos, asi como también ambición para
          desarrollar grandes proyectos.
        </p>
      </div>
    </div>
  </div>

  <!-- habilidades -->
  <div
    id="habilidades"
    class="page-container"
    [ngClass]="{ 'show-up': scrollIndex === 2 }"
  >
    <h2>Habilidades</h2>
    <ul>
      <li>Resposive web design.</li>
      <li>Desarrollo de páginas y aplicaciones web.</li>
      <li>Galerías de imagenes.</li>
      <li>Comunicación en tiempo real.</li>
      <li>Aplicaciones que requieran cálculos con cierta complejidad.</li>
      <li>Almacenamiento de usuarios con distintos roles.</li>
      <li>
        Y cualquier otra cosa que se presente como un desafío, estaré encantado
        de poder resolverlo!
      </li>
    </ul>

    <div class="habilities">
      <div class="hab-item" [ngClass]="{ angular: scrollIndex === 2 }">
        <h4>Angular</h4>
      </div>
      <div class="hab-item" [ngClass]="{ css: scrollIndex === 2 }">
        <h4>CSS</h4>
      </div>
      <div class="hab-item" [ngClass]="{ node: scrollIndex === 2 }">
        <h4>NodeJS</h4>
      </div>
      <div class="hab-item" [ngClass]="{ sql: scrollIndex === 2 }">
        <h4>SQL</h4>
      </div>
      <div class="hab-item" [ngClass]="{ mon: scrollIndex === 2 }">
        <h4>MongoDB</h4>
      </div>
    </div>
  </div>
  <!-- experciencia -->
  <div
    id="experiencia"
    class="page-container"
    [ngClass]="{ 'show-up': scrollIndex === 3 }"
  >
    <h2>Mi Experiencia</h2>
    <p>
      Todo lo que he aprendido en los cursos que continuamente estoy tomando,
      incluso hasta cuando viajo en el colectivo. Algunas de las tecnologías que
      manejo son:
    </p>
    <br />
    <div class="tools">
      <a id="tool-item-1-1" class="tool-item">Javascript</a>
      <a id="tool-item-1-2" class="tool-item">html</a>
      <a id="tool-item-1-3" class="tool-item">CSS</a>
      <a id="tool-item-2-1" class="tool-item">Bootstrap</a>
      <a id="tool-item-2-2" class="tool-item">Angular 2 +</a>
      <a id="tool-item-2-3" class="tool-item">Typescript</a>
      <a id="tool-item-3-1" class="tool-item">Angular Material</a>
      <a id="tool-item-3-2" class="tool-item">ChartJS</a>
      <a id="tool-item-3-3" class="tool-item">SQL</a>
      <a id="tool-item-4-1" class="tool-item">MongoDB</a>
      <a id="tool-item-4-2" class="tool-item">Mongoose</a>
      <a id="tool-item-4-3" class="tool-item">NodeJS</a>
      <a id="tool-item-5-1" class="tool-item">Express</a>
      <a id="tool-item-5-2" class="tool-item">NestJS</a>
      <a id="tool-item-5-3" class="tool-item">TypeORM</a>
      <a id="tool-item-6-1" class="tool-item">Socket IO</a>
      <a id="tool-item-6-2" class="tool-item">Linux</a>
      <a id="tool-item-6-3" class="tool-item">Nginx</a>
    </div>
  </div>
  <!-- portfolio -->
  <div id="portfolio" class="page-container portfolio">
    <div class="portfolio-title">
      <h2>Mis Trabajos</h2>
      <p>Algunos trabajos que hice por encargos y de cursos</p>
    </div>
    <div class="portfolio-component">
      <app-portfolio></app-portfolio>
    </div>
  </div>

  <!-- contacto -->
  <div
    style="overflow-anchor: none"
    id="form"
    class="page-container"
    [ngClass]="{
      'show-up': scrollIndex === 4 || mailInput,
      fix: mailInput
    }"
  >
    <form
      id="contacto"
      #contacto
      [formGroup]="mailForm"
      (ngSubmit)="(onSubmit)"
    >
      <h2>Contactame</h2>
      <p>Dale mandame un mnsj</p>

      <div class="contacto-container">
        <div class="emiter">
          <div class="data name">
            <h5>Name</h5>
            <input
              (click)="scroll(undefined, true)"
              type="text"
              formControlName="name"
            />
          </div>

          <div class="data email">
            <h5>Email</h5>
            <input
              (click)="scroll(undefined, true)"
              type="text"
              formControlName="email"
            />
          </div>
        </div>
        <div class="content">
          <h5>subject</h5>
          <input
            (click)="scroll(undefined, true)"
            type="text"
            formControlName="subject"
          />
        </div>
        <div class="content message">
          <h5>Message</h5>
          <textarea
            (click)="scroll(undefined, true)"
            formControlName="message"
            name=""
            id=""
            cols="30"
            rows="10"
          >
            <h5>Message</h5>

          </textarea>
        </div>

        <button
          class="submit-btn"
          (click)="onSubmit()"
          [disabled]="!mailForm.valid"
        >
          <h5>Enviar</h5>
        </button>
      </div>
    </form>
  </div>
</div>
