<app-barra-lateral></app-barra-lateral>

<div class="container-cuerpo">
  <div class="page-container">
    <div class="quienSoy">
      <h1>Hola!,</h1>
      <h1>Soy Fermín,</h1>
      <h1>Desarrollador Web</h1>
      <p>Full Stack Web Developer</p>
    </div>
  </div>

  <!-- lampara de lava -->

  <div class="curva">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
  </div>

  <svg>
    <filter id="gooey">
      <feGaussianBlur in="SourceGraphic" stdDeviation="40" />
      <feColorMatrix
        values="
          1 0 0 0 0
          0 1 0 0 0
          0 0 1 0 0
          0 0 0 60 -40
        "
      />
    </filter>
  </svg>
  <br />
  <!-- descripcion -->
  <div class="page-container">
    <h2>Quién soy?</h2>
    <p>
      Un ingeniero electromecánico que ha decidido explorar una vida dedicada al
      desarrollo web y de software en general. Estoy abierto al desarrollo de
      aplicaciones y webs, tanto front end como back end. Mi anhelo es poder
      desarrollar con personas que tengan una basta experiencia en estos campos,
      asi como también ambición para desarrollar grandes proyectos.
    </p>
  </div>
  <br />
  <!-- habilidades -->
  <div class="page-container">
    <h2>Qué puedo hacer?</h2>
    <ul>
      <li>
        Desarrollo de páginas y aplicaciones web en todo el stack, que necesiten
        almacenar datos o simplemente, páginas estáticas.
      </li>
      <li>Galerías de imagenes.</li>
      <li>Comunicación en tiempo real.</li>
      <li>Aplicaciones que requieran cálculos con cierta complejidad.</li>
      <li>
        Manejo de sesiones con usuarios que requiran ver contenido mas delicado
        en función de los roles que posean.
      </li>
      <li>
        Y cualquier otra cosa que se presente como un desafío, estaré encantado
        de poder resolverlo!
      </li>
    </ul>
  </div>
  <br />
  <!-- experciencia -->
  <div class="page-container">
    <h2>Cuáles son mis herramientas?</h2>
    <p>
      Todo lo que he aprendido en los cursos que continuamente estoy tomando,
      incluso hasta cuando viajo en el colectivo...
    </p>

    <br />
    <h3>Algunas de las tecnologías que manejo son</h3>
    <ul>
      <li>Javascript</li>
      <li>html</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>Angular 2 +</li>
      <li>Typescript</li>
      <li>Angular Material</li>
      <li>ChartJS</li>
      <li>SQL</li>
      <li>MongoDB</li>
      <li>NodeJS</li>
      <li>Express</li>
      <li>NestJS</li>
      <li>Socket IO</li>
      <li>Linux</li>
      <li>Nginx</li>
      <li>Y algunas otras...</li>
    </ul>
  </div>
</div>
