.container-cuerpo {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  margin-left: 250px;
  background-color: rgba(0, 0, 0, 0.93);
  color: rgba(255, 255, 255, 0.897);
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.fix-body {
  position: fixed;
  bottom: 0;
  padding-bottom: 100vh;
}

.page-container {
  padding-left: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 550px;
  min-height: 100vh;
  justify-content: center;
  z-index: 10;
  transition: all 0.5s 0.5s linear;
}

.fix {
  position: fixed;
  bottom: 0px;
  /* width: 100%; */
  left: 30px;
  overflow: hidden;
}

.quienSoy {
  color: rgba(255, 255, 255, 0.897);
}

.quienSoy h1 {
  font-family: "Oswald", sans-serif;
  font-size: 80px;
  font-weight: 400;
  margin-bottom: -20px;
}

.quienSoy p {
  font-family: "Oswald", sans-serif;
  margin-top: 60px;
  font-size: 35px;
  font-weight: 100;
}

.myself {
  /* background-color: #95959549; */
  width: 100%;
  padding-left: 0;
}

.myself::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: linear-gradient(
      270deg,
      rgba(45, 253, 160, 0) 35%,
      rgb(0, 0, 0, 0.5) 88%
    ),
    url("/assets/some-guy.jpeg");
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
}

.info {
  width: 40%;
  padding-left: 100px;
  z-index: 1;
}

/***************habilidades********************/

.habilities {
  width: 100%;
}

.hab-item {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 5px;
  line-height: 40px;
}

.hab-item::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff26;
}

.hab-item::before {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 5%;
  height: 2px;
  background-color: #08e275;
  box-shadow: 0 0 10px #08e275;
}
.angular::before {
  width: 95%;
  transition: all 0.5s 0.5s ease-in-out;
}
.css::before {
  width: 90%;
  transition: all 0.5s 0.6s ease-in-out;
}
.node::before {
  width: 85%;

  transition: all 0.5s 0.7s ease-in-out;
}
.sql::before {
  width: 83%;
  transition: all 0.5s 0.8s ease-in-out;
}
.mon::before {
  width: 79%;
  transition: all 0.5s 0.9s ease-in-out;
}

@media (max-width: 1024px) {
  .page-container {
    width: calc(80% - 50px);
    padding-left: 50px;
  }

  .quienSoy h1 {
    font-weight: 400;
    font-size: 50px;
    margin-bottom: -2vw;
  }

  .quienSoy p {
    font-size: 4vw;
    font-weight: 100;
    margin-top: 7vw;
  }

  .info {
    padding-left: 10px;
  }

  .myself {
    width: 100%;
  }

  .myself::before {
    left: -50px;
    width: calc(100% + 50px);
  }
}

@media (max-width: 700px) {
  .page-container {
    padding-left: 10px;
    width: 80%;
  }

  .myself {
    width: 100%;
  }

  .myself::before {
    left: -150px;
    width: calc(100% + 150px);
    background-image: linear-gradient(
        0deg,
        rgba(45, 253, 160, 0) 35%,
        rgb(0, 0, 0, 0.5) 88%
      ),
      url("/assets/some-guy.jpeg");
    background-position: top;
    background-size: contain;
  }

  .info {
    padding-left: 10px;
    width: 80%;
  }
}

/**********curva*********/

.curva {
  position: absolute;
  overflow: visible;
  top: 0%;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  overflow: hidden;
  border: none;
  line-height: 170px;
  filter: url(#gooey);
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #08e275;
  width: 500px;
  height: 500px;
}

.c1 {
  top: 40%;
  left: 70%;
  animation: movingCircles 13s ease-in-out infinite alternate;
}
.c2 {
  top: 20%;
  left: 60%;
  animation: movingCircles 17s ease-in-out infinite alternate;
}
.c3 {
  top: 0%;
  left: 70%;
  animation: movingCircles 11s ease-in-out infinite alternate;
}
.c4 {
  top: 10%;
  left: 50%;
  animation: movingCircles 23s ease-in-out infinite alternate;
}

svg {
  width: 0;
  height: 0;
}

@keyframes movingCircles {
  0% {
    transform: translate(-10%, -70%);
  }
  50% {
    transform: translate(20%, 30%);
  }
  100% {
    transform: translate(5%, 100%);
  }
}

@media (max-width: 1024px) {
  .circle {
    width: 60vw;
    height: 60vw;
    left: 50%;
  }
}

ul {
  margin-top: 20px;
  padding-left: 0;
}

li {
  list-style-type: none;
  font-weight: 300;
  margin-bottom: 10px;
}

h2 {
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-size: 80px;
  font-weight: 300;
}

p {
  font-weight: 300;
}

.tools {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tool-item {
  display: flex;
  width: 26%;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #6ad3813d;
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  font-weight: 100;
  color: #6ad380;
  cursor: pointer;
  transition: all 1s ease-in;
}

.lighted-item {
  border: 1px solid #6ad381da;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.1s ease-out;
  box-shadow: 0px 5px 15px #08e2756b;
}

.tool-item:hover {
  border: 1px solid #996b00da;
  background-color: #d3ba6a23;
  color: rgba(255, 255, 255, 0.897);

  box-shadow: 0px 5px 15px #614c14d3;
  transition: all 0.1s ease-out;
}

@media (max-width: 1024px) {
  .container-cuerpo {
    width: calc(100% - 30px);
    margin-left: 0;
    padding-left: 30px;
  }

  .tool-item {
    width: 25%;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .curva {
    left: 0;
    width: 100%;
  }
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  .tool-item {
    width: calc(33% - 30px);
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

/*************contacto****************/

.contacto-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
}

.emiter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 20%;
}

.data {
  display: flex;
  width: 49%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.content {
  display: flex;
  width: 100%;
  height: 20%;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.message {
  height: 40%;
  overflow-y: hidden;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20%;
  border: 1px solid rgba(255, 255, 255, 0.383);
  align-self: end;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  color: #6ad380;
  background-color: rgba(255, 255, 255, 0.1);
}

.contacto-container h5 {
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 100;
}

.submit-btn h5 {
  margin: 0;
  padding: 0;
}

.contacto-container input,
textarea {
  width: 100%;
  height: 100%;
  line-height: 60px;
  margin-left: 10px;
  padding: 5px;
  padding-top: 10px;
  color: rgba(255, 255, 255, 0.897);
  font-weight: 100;
  word-wrap: break-word;
}

@media (max-height: 800px) {
  .container-cuerpo {
    width: calc(100% - 30px);
    margin-left: 0;
    padding-left: 30px;
  }
  .curva {
    left: 0;
    width: 100%;
  }
}
