.container {
  position: fixed;
  width: 250px;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(12, 12, 12);
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.nombre-container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(12, 12, 12);
  cursor: pointer;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

/****** color logo ***********/
.logoFA {
  fill: #6ad380;
}
.cls-2 {
  fill: none;
}

.nombre-container h3 {
  font-weight: 300;
}
.nombre-container p {
  font-weight: 100;
  font-size: small;
}

.nombre {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255);
  transition: all 0.2s linear;
}

.nombre-container:hover .nombre {
  color: #6ad380;
}

/******** menu **********/

.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.383);
}

.button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.383);
  cursor: pointer;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s linear;
}

.button h4 {
  font-weight: 300;
  color: rgba(240, 248, 255, 0.705);
  transition: all 0.2s linear;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button:hover h4 {
  color: #6ad380;
}

.lighted {
  background-color: rgba(255, 255, 255, 0.1);
}
.lighted h4 {
  color: #6ad380;
}

/******* iconos linkedin y github ********/

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  height: 30vh;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.iconSVG {
  stroke: none;
  fill-rule: nonzero;
  fill: rgb(100%, 100%, 100%);
  fill-opacity: 1;
  transition: all 0.2s linear;
}

.icon:hover .iconSVG {
  fill: #6ad380;
}

.icon-responsive {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: -1;
}

.icon-menu {
  fill: white;
}

@media (max-width: 1024px) {
  .icon-responsive {
    z-index: 100;
  }

  .container {
    left: -250px;
    overflow: hidden;
    opacity: 0;
  }
}

@media (max-height: 800px) {
  .icon-responsive {
    z-index: 100;
  }
  .container {
    width: 0;
    overflow: hidden;
    opacity: 0;
  }
}

.desplegar {
  left: 0;
  width: 100%;
  opacity: 1;
}
